<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .text {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- <input type="text" class="text"> -->
    </div>

    <script>
        let container = document.getElementsByClassName("container")

        let api = fetch("form/{{id}}")
            .then(response => {
                return response.json()
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });

    </script>
</body>

</html>